a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.album_list {
  margin-left: 20px;
  color: black;
  margin-bottom: 51px;
}

.album_list img {
  margin-right: 45px;
  width: 138px;
  box-shadow: 10px 9px 40px #999;
}

h3 {
  font-size: 48px;
  letter-spacing: 16px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}

@media screen and (max-width: 375px) {
  .album_list {
    margin-bottom: 27px;
  }

  .album_list img {
    width: 88px;
    margin-right: 18px;
  }

  a {
    font-size: 14px;
    word-break: break-all;
  }

  h3 {
    font-size: 24px;
    letter-spacing: 7px;
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}