<h3>ALBUM</h3>
<div *ngIf="show" class="album_container">
  <img src="{{album.images[1].url}}"><br>
  <div class="center_align">
  <p>
    <span class="album_title">{{album.name}} Detail</span><br>
    label : {{album.label}}<br>
    artist : {{album.artists[0].name}}<br>
    popularity: {{album.popularity}}<br>
    release_date: {{album.release_date}}<br>
  </p>
    <span class="album_title">TRACK</span>
  <ul>
    <li *ngFor="let song of album.tracks.items">
      {{song.track_number}} : {{song.name}}
    </li>
  </ul>
  </div>
</div>
