.title {
  text-align: center;
  width: 100%;
  height: 130px;
  background-color: white;
  position: relative;
}

.subtitle {
  margin: 0 auto;
  width: 680px;
}

.pp {
  line-height: 400%;
}

.title .small {
  font-size: 25px;
  font-weight: bolder;
  color: #999;
  margin: 0;
  letter-spacing: 5.5px;
}

.title .big {  
  font-size: 117px;
  font-weight: bolder;
  color: gold;
  margin: 0 auto;
}

.profile {
  background-color: gold;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  padding: 18px;
}

.content {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.code {
  flex: 1;
  height: 40px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.code img {
  margin-bottom: 5px;
}

.icon {
  margin-right: 10px;
  font-size: 32px;
}

.codetext {
  display: block;
}

.codetext a {
  color: white;
}

.codetext a:hover {
  color: white;
  text-decoration: underline;
  padding-bottom: 2px;
  text-underline-position: under;
  text-decoration-style: dashed;
}

.box {
  width: 400px;
  height: 630px;
  border: 1px solid #999;
  border-radius: 20px;
  position: relative;
}

.boximg {
  border-radius: 20px;
  opacity: 1;
  display: block;
  width: 390px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.text {
  width: 400px;
  height: 630px;
  border-radius: 20px;
  padding: 20px;
  color: white;
  font-size: 15px;
  background-color: rgba(0,0,0,0.5);
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.box:hover .image {
  opacity: 0.3;
}

.box:hover .middle {
  opacity: 1;
}

.text .circle {
  margin-right: 15px;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  background-color: #000
}