.artist_list {
  color: black;
  margin-bottom: 51px;
  margin-left: 20px;
}

.artist_list img {
  margin-right: 45px;
  width: 138px;
  box-shadow: 10px 9px 40px #888;
}

h3 {
  font-size: 48px;
  letter-spacing: 16px;
  font-weight: 500;
  margin-top: 41px;
  margin-bottom: 67px;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

@media screen and (max-width: 375px) {
  .artist_list {
    margin-bottom: 30px;
  }

  .artist_list img {
    width: 88px;
    margin-right: 18px;
  }

  a {
    font-size: 17px;
  }

  h3 {
    font-size: 24px;
    letter-spacing: 7px;
    margin-bottom: 20px;
    margin-top: 25px;
  }
}