<div class="search_group" *ngIf="!show">
  <h3>MINIMINI MUSIC : )</h3>
  <input type="text" #searchBox (keyup.enter)="search(searchBox.value)" placeholder="SEARCH"/>
</div>

<div class="toggle_searchbar" *ngIf="show">
  <h3 class="search_title">SEARCH</h3>
  <input type="text" id="searchbox" [ngModel]="inputWord"/>
  <h4><span class="search_total">{{total}}</span> search result about <span class="search_word">{{inputWord}}</span></h4>
</div>

<div *ngIf="show" (window:scroll)="onScroll($event)">  
  <div *ngFor="let data of items" class="search_list">
    <img src="{{data.images[0].url}}" *ngIf="data.images.length">
    <div class="data_text">
      Artist : {{data.name}}<br>
      Popularity : {{data.popularity}}<br>
      Genres : <span class="" *ngFor="let genre of data.genres.slice(0, 5)">{{genre}}</span>  
    </div>
  </div>
<!--   <div class="loader_box">
    <div class="loader" *ngIf="loader">Loading...</div>
  </div> -->
  <div class="loader_box_two">
    <div class="loader_two" *ngIf="loader">Loading...</div>
  </div>

  <ul class="paging" *ngIf="searchData.length === items.length">
    <li class="paging_button" (click)="prevPageMore(curPage)" *ngIf="curPage > 100">&lt;&lt;</li>
    <li *ngIf="prev" class="paging_button bold" (click)="prevPageClick(prev)">&lt;</li>
    <li class="curpage">{{curPage}} of {{total}}</li>
    <li *ngIf="next" class="paging_button bold" (click)="nextPageClick(next)">&gt;</li>
    <li *ngIf="next" class="paging_button" (click)="nextPageMore(curPage)">&gt;&gt;</li>
  </ul>
</div>